:root {
    /* Paleta de colores */
    --primario: #645CAA;
    --secundario: #A084CA;
    --terciario: #BFACE0;
    --cuaternario: #EBC7E8;

    /* Fuentes */
    --fuenteTitulo: Verdana, Geneva, Tahoma, sans-serif;
    --fuenteParrafo: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box; /* hack box sizing */
}

*, *::before, *::after {
    box-sizing: inherit; /* hack box sizing */
}

body {
    font-family: var(--fuenteParrafo);
    font-size: 1.6rem; /* 1rem = 10px */
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: var(--fuenteTitulo);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

.fondo1 {
    background-color: var(--primario);
}

.no-margin {
    margin: 0;
}

.boton {
    color: aliceblue;
    background-color: var(--secundario);
    padding: 1rem 2rem;
    text-decoration: none;
}

.boton:hover {
    color: black;
    background-color: yellow;
}

/* Encabezado */
.encabezado {
    text-align: center;
}

.encabezado span {
    font-size: 3rem;
}

/* Navegacion */
.navegacion a {
    display: block;
    color: var(--cuaternario);
    padding: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.navegacion a:hover {
    background-color: darkorange;
    color: azure;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        justify-content: space-around;
        max-width: 120rem;
        width: 95%;
        margin: 0 auto;
    }
    
}

/* Baneer */
.banner {
    background-image: url(../img/purple-galaxy-background-min.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner h2 {
    color: var(--secundario);
}

.banner-contenido {
    display: flex;
    align-items: center;
    gap: 1rem;
}